[2019-11-25 20:35] andrewkochie opened #1 "Freezing after approximately 5 min"
Running latest version of linux mint and used the instructions. I connect to R2DE5 over a vpn remotely to access the shake with no problems. Seems after running the script after 5 min from bash it will freeze with no warning.

[2019-11-26 01:12] iannesbitt commented on #1
@andrewkochie after this happens, can you quit the program, then attach the file at `/tmp/rsudp/rsudp.log`?

[2019-11-26 20:12] andrewkochie commented on #1
2019-11-26 19:57:20 [Main] Logging initialized successfully.
2019-11-26 19:57:20 Using settings file: /home/kochie/.config/rsudp/rsudp_settings.json
2019-11-26 19:57:20 Output directory is: /var/www/html/R2DE5
2019-11-26 19:57:20 [Init] Initializing.
2019-11-26 19:57:20 [openSOCK] Opening socket on localhost:8888 (HOST:PORT)
2019-11-26 19:57:20 [Init] Waiting for UDP data on port 8888...
2019-11-2

[2019-11-26 21:23] andrewkochie commented on #1
Still playing around with it. Disabled plotting and was just writing the UDP stream to a seedlink file for EHZ. Noticed that it will write all channels regardless of whether or not I only stipulate EHZ.

This is one of the errors in the terminal while listening to the UDP packets. 2019-11-26 21:15:52 [Alert] Threshold: 1.7; Current max STA/LTA: 1.5666Exception in thread Thread-1:
Traceback (most r

[2019-11-27 03:11] iannesbitt commented on #1
I made some changes, can you do `git pull` from inside the directory, then run the install script and see if that fixes at least the error you had with the write module?

I remember not writing code to allow specific channels to be written because I didn't think anyone would want to save just one channel, so I don't know why I put the option in the settings. But I will add that functionality.

I'm

[2019-11-27 05:47] iannesbitt commented on #1
Just pushed functionality to write specific channels, using the syntax

[code]

[2019-11-27 13:10] andrewkochie commented on #1
reinstalled everything and this morning got this again:
2019-11-27 13:07:50 [Alert] Threshold: 1.7; Current max STA/LTA: 1.5707Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/kochie/anaconda3/envs/rsudp/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/kochie/anaconda3/envs/rsudp/lib/python3.7/site-packages/rsudp/c_write.py", lin

[2019-11-27 13:31] andrewkochie commented on #1
Tried cloning fresh copy again to just default settings and python throws the same error after some time.  Not sure on the masked array error

[2019-11-27 16:15] iannesbitt commented on #1
Ok try the commit I just made. I made a more explicit effort to convert from a masked array to a regular array with zeros filling the gaps.

[2019-11-27 17:02] andrewkochie commented on #1
double check repodata.json`Found conda-forge channel in /home/oem/.condarc
Creating and installing rsudp conda environment...
Collecting package metadata (current_repodata.json): failed

UnavailableInvalidChannel: The channel is not accessible or is invalid.
  channel name: xonda-forge
  channel url: https://conda.anaconda.org/xonda-forge
  error code: 404

`

[2019-11-27 18:52] iannesbitt commented on #1
That is a very strange error. Nowhere in my code is there anything that tells it to download from the "xonda-forge" channel. It should be "conda-forge". So I'm not sure why this is happening, unless there's an error in Anaconda's code, or you changed your `~/.condarc` file.

For now what you can do instead is the following (remember to replace `<your rsudp directory` with the appropriate path).
If

[2019-11-27 20:22] andrewkochie commented on #1
I apologize that was my error. I ended up adding a wrong channel. Git cloned again and has been running for 30 min or so with no errors with 2 events detected. I'll keep an eye on it to see if there are any bugs.

[2019-11-28 16:18] iannesbitt commented on #1
Fantastic, great to hear! Closing this issue, if you have any further related issues feel free to reopen.

[2019-11-28 16:18] #1 closed

[2019-11-30 19:28] andrewkochie opened #2 "C_Write not writing seedlink"
Error on rsudp launch is new and will not write data to seedlink file

2019-11-30 19:23:29 [Producer] Receiving UDP data from 10.147.17.88
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/oem/miniconda3/envs/rsudp/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/home/oem/miniconda3/envs/rsudp/lib/python3.7/site-packages/rsudp/c_write.

[2019-12-01 03:54] iannesbitt commented on #2
Yes, this error was also reported here and is due to a careless error on my part: https://community.raspberryshake.org/t/rsudp-v0-4-0-released/787/17?u=iannesbitt

You can turn off the plot by changing
[code]
to
[code]

[2019-12-01 15:29] andrewkochie commented on #2
Cool deal appreciate your time.

[2019-12-02 02:17] iannesbitt commented on #2
I'm closing this for now but if there are any issues let me know. I genuinely have no idea what will happen when a leap second is added.

[2019-12-02 02:17] #2 closed

[2020-01-30 22:11] iannesbitt opened #3 "Tweets fail to send and do not get retried"
Could be resolved by wrapping tweet and upload statements with try/except clauses or by testing the returns.

[2020-01-31 01:32] iannesbitt commented on #3
Should also include something to the effect of a function to re-authenticate with the twitter api if the send fails more than 3 times

[2020-02-17 18:10] iannesbitt commented on #3
Seems to be working at least *better*...closing for now

[2020-02-17 18:10] #3 closed

[2020-02-22 03:52] iannesbitt opened #5 "remove `exec()` from Alert class"
Due to the unreliability of python's `exec()`, this functionality will be moved from the `rsudp.c_alert.Alert` class to its own module. This will make the Alert module much more reliable, and will allow code to run by a separate thread calling `exec()` instead.
Possible name of new module:
`rsudp.c_custom.Custom`

[2020-02-28 03:48] iannesbitt commented on #5
Moved `exec()` to `rsudp.c_custom.Custom`

[2020-02-28 03:48] #5 closed

[2020-06-26 01:49] andyaz opened #8 "Feature Request - LogScale for spectragraph"
I would like to see an option to have the spectragraph  to have the display use the logscale like the ShakeNet app on android... It would allow more focus on the important low frequency content and less on the high frequency urban noise...

Andy Hansis
andy@technerd.net

[2020-10-17 15:12] kipdee opened #9 "Feature Request - Additional Twitter Hashtags"
Hi,

Suggestion, on the twitter module, the ability to add other hashtags from the configuration file.  For example In my case I would add #earthquake #sismo #USVIWX #USVI

(#RaspberryShake station AM.R7078 - region: Virgin Islands) Event detected at 2020-10-16 05:52:08.20 UTC - live feed
 https://raspberryshake.net/stationview/#?net=AM&sta=R7078 <inserted here>

(#RaspberryShake station AM.R7078

[2020-11-13 22:52] awy0809 opened #10 "During rsudp installation, an error related to berryconda3 appears. What should I do?"
Hello, I am trying to install rsudp anew, but I got the following error.

Installing berryconda3…
ERROR: File or directory already exists: /home/pi/berryconda3
If you want to update an existing installation, use the -u option.
Cleaning up temporary files…
Updating base conda environment…
/home/pi/rsudp/bin/unix-install.sh: line 155: conda: command not found
Source line already exists in /home/pi/.

[2020-11-13 22:56] osop-raspishake commented on #10
Please see forum. Closing.

[2020-11-13 22:56] #10 closed

[2020-12-30 15:08] fwalter opened #11 "Improve data handling"
Hi there,

It would help to have a function, which converts data from the queue to an obspy stream object, which can then be manipulated by the user. This would immediately allow the user to access the entire obspy functionality, which is arguably the most widely used and powerful open source package for seismic data handling. Such a function should also bypass the module manipulation required to

[2020-12-30 15:09] fwalter opened #12 "Improve data handling"
Hi there,

It would help to have a function, which converts data from the queue to an obspy stream object, which can then be manipulated by the user. This would immediately allow the user to access the entire obspy functionality, which is arguably the most widely used and powerful open source package for seismic data handling. Such a function should also bypass the module manipulation required to

[2020-12-30 15:09] #11 closed

[2020-12-30 15:28] fwalter opened #13 "Some minor remarks on the documentation"
Hi again,

MINOR TYPOS IN DOCUMENTATION AND CODE MESSAGES:

"You canthen  enter the rsudp conda environment by typing "conda activate rsudp" and then run rsudp by using the command "rs-client -h""

"The client then instantiates the relevant threading.Thread objects as and passes"

In the configuration file and documentation, the sound setting is sometimes referred to as "alarm sound" and sometimes

[2020-12-30 15:31] fwalter commented on #13
One more comment: When changing the python modules I noticed that the changed code is not executed unless the start-up script is re-run. Again, I am not a python expert, so this may be obvious, but it would have helped me to see this in the documentation.

[2020-12-30 17:08] iannesbitt commented on #12
Hi @fwalter, thanks for your suggestion. When I was writing this software, I originally did set out to include that kind of functionality. Unfortunately, obspy streams were not designed for continuously ingesting live data and thus I've found them hard to work with in that capacity. If I remember correctly, they tend to suffer from a memory leak issue when data is added without creating a complete

[2020-12-30 17:11] iannesbitt commented on #13
These are very helpful fixes, thank you. I will work on incorporating them.

[2020-12-30 17:35] iannesbitt commented on #9
Hi @kipdee, I think it would be reasonable to add this to the config file. It might take a little while though, since I don't work on this full time anymore.

[2020-12-30 17:36] iannesbitt commented on #8
Hi Andy, thanks for the suggestion. I will see what I can do, although I think the way rsudp generates its spectrogram is different and may not allow log scale.

[2020-12-31 15:50] fwalter commented on #12
Hello @iannesbitt, I was thinking about something like this:

https://docs.obspy.org/tutorial/code_snippets/easyseedlink.html

Otherwise, would it be possible to return some other type of python variable or object, which updates itself every time new data are available?

[2021-01-05 18:36] iannesbitt opened #14 "Install fails on arm/raspbian"
Raspbian install script fails due to a failure to compile cryptography via pip. The solution is to install a pre-compiled cryptography via conda instead of letting setuptools try to compile it from scratch.

[2021-01-05 18:42] #14 closed

[2021-01-05 19:08] iannesbitt commented on #12
@fwalter I think it would be possible to add a SeedLink client, although I feel that a significant disclaimer is that this deviates from the original scope of this software, which is lightweight upstream UDP packet processing for downstream data use. I will look into converting the existing data into a stable Stream object as this would be both much more efficient and within the scope.

[2021-01-06 19:38] fwalter commented on #12
@iannesbitt I am not asking to include a seedlink client, simply a straightforward interface for a client or module, which accepts the current data packages and then manipulates them. I think this kind of flexibility is something any user of your software would be interested in. He/she would have to program something equivalent anyway following your instructions in the documentation. The easiest s

[2021-01-07 21:18] iannesbitt opened #15 "social media post base URL no longer works"
change `https://raspberryshake.net/stationview/`
to
`https://stationview.raspberryshake.net/`

[2021-01-08 04:23] iannesbitt commented on #9
The [extra-text](https://github.com/raspishake/rsudp/tree/extra-text) branch will contain this feature until it can be fully tested.

[2021-01-09 03:41] kipdee commented on #9
Hi Ian,

  Its Hector,  I'm running it on @QuakeUsvi and its working.  If I see any issues I'll let you know

Thanks

This was a stump test :)
![image](https://user-images.githubusercontent.com/61353444/104082022-21c9f900-5209-11eb-88d7-1572dd41867b.png)

[2021-01-15 17:52] iannesbitt commented on #9
Great to hear. This feature is now merged to master.
Documentation for this feature can be found at https://raspishake.github.io/rsudp/settings.html#tweets-twitter-notification-module

[2021-01-15 17:52] #9 closed

[2021-01-15 17:54] #15 closed

[2021-01-19 23:20] iannesbitt commented on #13
These suggestions have been implemented:

- https://github.com/raspishake/rsudp/blob/8983ce7d74aad3d1508e42119b25d9bdc5dcd62f/bin/unix-install.sh#L269
- https://raspishake.github.io/rsudp/theory.html
- https://github.com/raspishake/rsudp#rsudp
- https://raspishake.github.io/rsudp/troubleshooting.html
- https://raspishake.github.io/rsudp/settings.html

[2021-01-19 23:20] #13 closed

[2021-01-19 23:48] iannesbitt opened #17 "forward ALARM messages"
Feature request: create or modify a module to forward ALARM messages to an IP/port combination.

[2021-01-20 06:12] #17 closed

[2021-01-20 06:19] iannesbitt opened #18 "add support for forwarding to multiple destinations"
Forwarding module should be able to forward to a list of destination nodes. This could be useful in a classroom setting, especially w/r/t the feature added in #17.

Best implementation method is probably to start a forward thread for each listed node, as linear processing will presumably slow down message distribution. Thus the work could be frontloaded onto the client function and the forwarding

[2021-01-20 22:58] #18 closed

[2021-02-22 14:26] bschellhaas opened #19 "No rsudp_settings.json file appears."
I have unzipped the software, ran the .bat file, however, no files appear in the .config/rsudp. There didn't seem to be any errors in the install prompt, however, when I tried to run the program, this error occurred. I have also tried the advanced install, however, the same outcome happens. Any advice would be appreciated.
![rsudperror](https://user-images.githubusercontent.com/58160447/108721229-

[2021-02-22 23:34] bschellhaas commented on #19
I tried recreating the .json file found in the install tutorial, but the same FileNotFoundError happened. Still need help.

[2021-02-23 23:24] Thorinair opened #20 "Sudden malformed UDP packets?"
Hello, I've been using rsudp a few times and it worked just fine. I didn't make any change to the Raspberry Shake itself, other than adding another address to transmit the data to. When I tried to run rsudp today, I was greeted with the following error upon receiving a packet:
[code]

It is almost as if the Raspberry Shake is sending malformed packets? I went further to investigate. Since I am als

[2021-02-23 23:50] Thorinair commented on #20
The first issue appears to be... Terraria server related, as weird as that may sound. It seems to broadcast on port 8888, maybe for announcing its presence? Killing the server allowed me to connect just fine.

Second issue is also related to it, because the server was again, pushing data to all the ports to announce its presence.

This is one of the dumbest things I have ever encountered, sorry fo

[2021-02-23 23:50] #20 closed

[2021-03-05 21:40] iannesbitt commented on #19
Hi @bschellhaas:
What happens when you run the command `rs-client -i`?

[2021-04-09 00:58] Schamschula opened #21 "matplotlib == 3.1.1?"
matplotlib 3.1.1 is out of date. I'm getting an error

`pkg_resources.DistributionNotFound: The 'matplotlib==3.1.1' distribution was not found and is required by rsudp`

but I have `py39-matplotlib @3.4.1_0+cairo+webagg` installed under MacPorts.

I also get a similar issue with `python-telegram-bot` as it requires an obsolete version of `APScheduler==3.6.3`, whereas the current version is 3.7.0.

[2021-08-11 01:49] calum-chamberlain commented on #12
If it helps, I had to cope with handling streaming data (that may also be gappy) and converting to ObsPy objects in RT-EQcorrscan - the solution I have is [here](https://github.com/eqcorrscan/RT_EQcorrscan/blob/master/rt_eqcorrscan/streaming/buffers.py), and doesn't seem to be leaky. There is then a painful array of `Queues` to handle getting the current state of the `Stream` from the streamer.

[2021-08-11 22:19] iannesbitt opened #22 "Edits based on JOSS review"
Edits based on reviewer suggestions in openjournals/joss-reviews#2565, 2021-08-10.

- [x] unit tests on a CI (already [implemented with Scrutinizer CI](https://scrutinizer-ci.com/g/raspishake/rsudp/inspections))
- [x] contributing guidelines on the github page (added [here](https://github.com/raspishake/rsudp/commit/38a95c442153b88b3e54b0db2956c95a1af809bd))
- [x] adding text from the [Why it's sp

[2021-08-11 22:22] iannesbitt commented on #22
ObsPy streaming will need to wait for a future release.

[2021-08-11 22:29] iannesbitt commented on #12
Thank you @calum-chamberlain! I will look into this further in the next release.

[2021-10-04 23:35] navneetercse opened #23 "Data not saving in the output directory, even when enabled true in the json file."
There is an issue with the output data (MINseed). I have tried with two linux machines and I was facing the same issue that the data was not being written in the output directory.
When backtracked the issue, I found following errors
` File "/home/navneet/miniconda3/envs/rsudp/lib/python3.7/site-packages/rsudp/c_write.py", line 126, in write
    outfile = self.outdir + test
TypeError: unsupported o

[2021-10-16 23:21] iannesbitt commented on #23
Hi @navneetercse, thanks for reporting this issue. This issue should be fixed in [this commit](https://github.com/raspishake/rsudp/commit/d107e8ed94cf6a976ad3e5c1ab21e511dd0684db). If you install from master, you should no longer experience this problem. Let me know if otherwise. Thanks again.

[2021-10-16 23:21] #23 closed

[2021-10-18 14:05] iannesbitt commented on #21
Hi @Schamschula, apologies for the delay in responding. I'm not sure why pkg_resources would be giving you that error, as `matplotlib==3.1.1` is widely available (via both [pip](https://pypi.org/project/matplotlib/3.1.1/) and [conda](https://anaconda.org/conda-forge/matplotlib/files?version=3.1.1)). The reason it was pinned at that particular tag is because there was functionality introduced in 3.

[2021-10-28 00:08] Larusrafn opened #26 "WARNING (norm_resp): computed and reported sensitivities differ by more than 5 percent. Execution continuing."
on windows, environment downloaded by executing the win-install-rsudp.bat and then excecuted with win-start-rsudp.bat, this error shows when running if "deconvolve" is set to true either on the plot or alert setttings (or both):

WARNING (norm_resp): computed and reported sensitivities differ by more than 5 percent. Execution continuing.

this is constantly repeated causing fast scrolling of the c

[2021-10-28 00:16] Larusrafn opened #27 "log error when using telegram module"
on windows environment, when using telegram module to send warnings about triggered event, this error shows:

[code]

sending the message is successful, and the screenshot too. just wanted to report the error.

[2021-10-28 16:10] Larusrafn opened #28 "feature request: extra text for Telegram (similar to extra text for twitter module)"
please add the function to add extra text to the telegram messages, as you can with twitter. thanks.

[2021-10-29 15:26] #27 closed, assigned to iannesbitt

[2021-10-29 17:25] #28 closed, assigned to iannesbitt

[2021-10-29 22:55] Larusrafn commented on #26
My station is AM.R075C located in iceland. I downloaded fresh from master, so im running version 1.0.3. here are the log file, console output and sanitized rsudp settings file (to protect the innocent....)
[console-output.txt](https://github.com/raspishake/rsudp/files/7445329/console-output.txt)
[rsudp.log](https://github.com/raspishake/rsudp/files/7445330/rsudp.log)
[rsudp_settings-json.txt](http

[2021-10-29 23:21] Larusrafn commented on #26
I also see that the STA/LTA readings are much higher when deconvolve=true on the "alert" setting, for the same visual level of background noise on the plot:
deconvolve off: 2021-10-29 23:06:22 [Consumer] Exiting.2.4; Current max STA/LTA: 0.1391
deconvolve on: 2021-10-29 23:08:19 [Alert] Threshold: 2.4; Current max STA/LTA: 1.5395

its almost like its off by a placement of decimal point

[2021-10-29 23:36] iannesbitt commented on #26
Ah yes, good call with the sanitization.

That's actually normal. The STA/LTA value is highly dependent on averages, and the process of deconvolution should change the short term and long term averages a bit for most sensors. The reason you don't see any difference on the plot is because the plot thread's stream is independent of the alert thread's stream and so on. Each thread has its own stream

[2021-10-30 00:13] Larusrafn commented on #26
I ran 2 streams for fun to side by side compare the rsudp consoles and spectrograms (feeding the second via new datacast port on the raspberry shake and using another config file).. and the difference is a lot... like you can see on this screenshot. while one has sta/lta of 0.2099 the other has sta/lta of 1.5915. this is an order of magnitude more.... can this really be the expected behavior?
![rs

[2021-10-30 00:51] Larusrafn commented on #27
verified, the error does not appear running current master (1.0.3), thanks.

[2021-10-30 15:59] iannesbitt commented on #26
Hi @Larusrafn,

Yes, although I think I understand your confusion. There are a couple of things at work here that I need to unpack to explain this.

First, I think you might be misunderstanding the data plotted by rsudp. The streams rsudp shows in the plot are automatically detrended, regardless of whether they are deconvolved or not. So what you are seeing in the plot has been stripped of its bia

[2021-10-30 16:20] iannesbitt commented on #26
There's also quite a lot of writing about the STA/LTA trigger mechanism. From GFZ Potsdam:
- [Lengthy discussion of STA/LTA parameter settings](https://gfzpublic.gfz-potsdam.de/rest/items/item_43337_3/component/file_56122/content)
- [Illustrated discussion of a few different phase triggers](https://gfzpublic.gfz-potsdam.de/rest/items/item_43230_9/component/file_61366/content)

[2021-10-30 16:26] Larusrafn commented on #26
thank you for this info. i am new at this level of earthquake monitoring although i have been lucky enough to be born in a very active region of the world and being thrilled by all things nature, including geology, quakes, weather, etc..

i did not know that i had to activate the environment through a specific conda promtp, but i found it (thanks google).. so here is the output:

(base) C:\Users\l

[2021-10-30 16:28] Larusrafn commented on #26
.........and thank you for excellent support for a newbie like myself :)

[2021-10-30 16:39] iannesbitt commented on #26
No problem! I'm no longer affiliated with RS but I am very much still on good terms with them, and I maintain this software because I have a strong attachment to it from spending so many hours working on it.

I'm curious as to why obspy appears to be built from source and not pinned to a specific version...can you run the following command from your rsudp environment:

[code]

[2021-10-30 16:48] Larusrafn commented on #26
I had to change the command to double quotes, else it got syntax error. but herre:

(rsudp) C:\Users\lalli>python -c "import obspy; print(obspy.__version__)"
1.2.2

[2021-10-30 20:14] iannesbitt commented on #26
Interesting. Can you run the `rs-test` command and see if it happens in that mode as well?

[2021-10-30 22:17] Larusrafn commented on #26
Is deconvolve set to true by default in the test phase? the error does not show in rs-test, see output in attached file. Maybe this is something new in the raspberry shake data stream? i am running 0.19.

[rsudp_bug-ticket_26-rs-test-output.txt](https://github.com/raspishake/rsudp/files/7447668/rsudp_bug-ticket_26-rs-test-output.txt)

[2021-10-30 23:00] Larusrafn commented on #26
here is a wireshark pcap of the packets sent from my raspberry shake unit on port 8888 if that helps with debugging
[rsudp_bug-ticket_26-RS-pcap-udp-port-8888.zip](https://github.com/raspishake/rsudp/files/7447738/rsudp_bug-ticket_26-RS-pcap-udp-port-8888.zip)

[2021-10-30 23:25] Larusrafn commented on #26
hm. i think I got something more. look at the difference of the velocity and acceleration scale on the live  (left) and the test (right).  the live is in km/s velocity and hundreds of m/sec2 while the test is in um/s velocity and tens of mm/sec2.... how come?

![rsudp-velocity-accelleration-difference-test-live](https://user-images.githubusercontent.com/17604564/139561082-e4cf4fd1-37f2-4bbd-a91f-4

[2021-11-01 01:12] iannesbitt commented on #26
Ok, that's weird but I think I at least know the nature of the problem. Can you check your shake settings to make sure you have this RS geophone setting set to "Yes"?
![image](https://user-images.githubusercontent.com/18689918/139608479-6c1953df-68b6-4bb2-b95a-d1165f083ed2.png)

[2021-11-01 11:11] Larusrafn commented on #26
this is set to yes in my rs.

[2021-11-01 18:10] iannesbitt commented on #26
Can you set the writer to record a minute or so of your data and send it to me?

[code]

[2021-11-01 21:03] iannesbitt commented on #26
I think I've narrowed the problem down to the format of the inventory that RS provides for your station. There is a section missing from the inventory XML which provides poles and zeroes, a critical part of calculating response. I will contact them about this.

[2021-11-01 21:32] Larusrafn commented on #26
thank you. in the mean time, here is ~5 mins of output... i have also done everything i can think of to test fixing this, including changing my locale in the computer and completely wiping miniconda from the computer and start from scratch.. :)
[data.zip](https://github.com/raspishake/rsudp/files/7456259/data.zip)

[2021-11-01 21:46] iannesbitt commented on #26
Don't worry, your locale and miniconda are fine!

[2021-11-01 23:38] Larusrafn commented on #26
the only thing i can think of as a cause for this from my doings is that i started a datacast and played around with the rsudp for a day or two before I started the data sharing... if that has something to do with this document creation.

[2021-11-02 19:32] Larusrafn commented on #26
the Shakenet has stopped displaying my RS output this morning and it is shown as black (not available) now. Shutting my RS off and powercycle it does not fix the issue.
![image](https://user-images.githubusercontent.com/17604564/139935969-0eed19c0-208c-49d3-9565-7b64e2bada1e.png)

It still says its on,
![image](https://user-images.githubusercontent.com/17604564/139936555-64be253b-1445-4f58-9806-2f

[2021-11-03 17:55] iannesbitt commented on #26
Hi Larus, it looks to me like your station is online again. I talked to the RS folks not long ago and they are working on the inventory issue. Thanks for your patience.

[2021-11-03 20:05] Larusrafn commented on #26
Thank you for all your help, i will wait patiently :) the shake is working, it took a long time (+2 hours i think) to show up again in the shakenet after the reboot. it seems to work fine except for the display weirdness... it correctly detected a large quarry blast 7 km away as 1.1M earthquake today :)
![R075C-2021-11-03-123342](https://user-images.githubusercontent.com/17604564/140184359-c44a0a5

[2021-11-03 20:24] iannesbitt commented on #26
Good to hear. The inventory problem should be fixed in the next few hours, if it's not already.

Cool captured blast!

Yeah, the plot distance ratios can get weird when the window size changes too much. It seems like the acts of edge snapping and maximizing the window have the worst effects, and I haven't figured out how to correctly preserve the distance ratios between the plot elements when that

[2021-11-03 21:12] iannesbitt commented on #26
Sorry I have that backwards: if you start in fullscreen and then resize, the size jump the window makes isn't handled correctly by matplotlib. However if you start in non-fullscreen windowed mode, the gradual drag-resize should work.

[2021-11-03 21:32] Larusrafn commented on #26
confirmed. the issue is fixed. velocity and acceleration show correct values and the errors on the console are gone. thank you for all your help!
![image](https://user-images.githubusercontent.com/17604564/140195808-7612f06f-e2c7-450c-a24e-45e8ed44903d.png)

[2021-11-03 21:32] #26 closed

[2021-11-04 16:33] iannesbitt commented on #26
Of course! Thanks for your patience.

[2021-12-01 08:27] Larusrafn opened #34 "Feature request: STA/LTA value plot with trigger lines"
Is there a possibility to add a new optional graph section to rsudp graph window that plots the sta/lta value and displays the trigger lines? my preference would be to have it above the EHZ channel in the graphing window.....(top most graph)

similar to the lower graph in "12.3.1. Classic Sta Lta" on this page: https://docs.obspy.org/tutorial/code_snippets/trigger_tutorial.html

this would greatly

[2021-12-03 09:42] Larusrafn commented on #34
minimalist suggestion: a mini version of the plot with only ehz and said sta lta plot in a new window? as a separate consumer?

[2021-12-09 18:43] iannesbitt commented on #34
Hi @Larusrafn, I have considered this and I think it would be very helpful. It's definitely on my list of things to experiment with in a future release. Thank you for the suggestion!

[2021-12-12 14:16] Larusrafn commented on #34
hope im not intruding, but the more i think about this, the more i think it should be a separate window from the main... plotting only the alert version of the stream and the sta/lta info... either on one plot with 2 scales or 2 plots. This is because you bandpass for the the alert trigger.... it would also help to see the signal difference between the main one and bandpassed. but this is maybe to

[2022-01-01 13:21] shicks-seismo opened #36 "Feature request: bandpass-filtering the time series"
Hi @iannesbitt, finally got round to trying rsudp - great work!

I was wondering whether it would be possible to add an option to filter the waveforms before they are plotted live (not just for the trigger)? For example, it would be a nice usage to have 2 rsudp windows open - one that is ready for teleseismic earthquakes at low freqs; the other for local detections at high freqs :)

[2022-01-03 17:16] iannesbitt commented on #36
Hi Stephen, I'm glad you enjoy it, that means a lot!

Yes, I have been considering doing this for some time now. I'm not exactly sure the difficulty of this—I have a vague memory of trying to implement it when I was first developing this but I didn't know how to set the spectrogram frequency limits to match (i.e. the bandpass worked but changing the frequency limits and plot spacing was too hard t

[2022-01-03 17:17] iannesbitt commented on #36
Note: since this is changing how the plot display works, this might be good to implement in tandem with #8.

[2022-01-05 13:10] shicks-seismo commented on #36
Yeah for me, it doesn't really matter if the spectrogram is still for the raw data and remains plotting all frequencies. If so, just maybe needs a small marker line showing the bandpass frequencies. I can't remember how this looks in SeisComp3, but that might be a good model to follow.

[2022-01-06 01:06] iannesbitt commented on #36
The lines are a good idea. I was thinking I'd have to modify the extents of the raster that got plotted. I will check to see how SeisComp3 does it.

[2022-02-02 23:51] PhilipPeake opened #37 "Install fails"
Running the unix install script from the "Latest" link on github, on an Almalinux (centos 8 clone) it fails thus:

[code]

[2022-02-28 04:21] tian3rd commented on #37
I have the same error message. Mine is Raspbian GNU/Linux 11 (bullseye).

[2022-03-17 08:29] maniflames commented on #37
Same issue here, the installer fails but if you create the conda env manually everything installs and runs as it should.

[code]

Note that the datacast of the shake has to be active before the script can successfully visualize something.

[2022-03-20 13:16] ashleyfraser opened #38 "pip3 install fails with mismatched versions"
When Install rsudp using pip3, rsddp wants matplotlib <= 3.2.0 but obspy wants matplotlib > 3.2.0. This means I can have rsdup with matplotlib and it runs fine in real time but I can't write because obspy doesn't like my matplot libversion.
Python version 3.8.10, ubuntu 20.04.4 LTS.

[2022-03-20 23:05] rankinstudio opened #39 "Refresh interval matplotlib"
I have rsudp running on a PC. It works great but using matplotlib is very cpu intensive. It would be nice to have a refresh interval in the settings file for the plot so it didn't refresh as fast as it possibly can. I'd be fine with a 5s refresh if it didn't hit the cpu as hard.

Cheers

[2022-04-08 09:17] cappyccino commented on #37
Looks like the change from commit [64576f7](https://github.com/raspishake/rsudp/commit/64576f7ebe272a00a12dc889cc1cc6ba85b3c117) might be the issue. I'm not super familiar with python-- maybe @iannesbitt can take a look?

https://github.com/raspishake/rsudp/issues/21

[2022-04-08 09:51] cappyccino commented on #37
You can fix this issue by hardcoding the version to `matplotlib=3.1.3`. See my proposed changes in the commit ☝🏼

[2022-04-08 21:29] iannesbitt commented on #37
@cappyccino Thank you for your work on this, I haven't had much time to maintain lately. Since Matplotlib has so many dependencies and intricacies, new versions can break downstream software like rsudp. For now, pinning the version at `3.1.3` seems like a good solution. Do you want to create a pull request with your commit?

[2022-04-08 21:34] iannesbitt commented on #38
Hi @ashleyfraser, please see Cappy's solution in #37. Not sure why matplotlib causes so many install errors, but the solution at least temporarily is to change the version pin from 3.2.0 to 3.1.2.

[2022-04-08 21:45] iannesbitt commented on #39
Hi @rankinstudio, I think this should be fairly simple to implement, but I don't have time to fix it at the moment. The work required would be:
- add a refresh interval parameter in the settings file (`refresh_sec` or something similar perhaps)
- add a way to load this parameter in `client.py` and send it to the `Plot` class
- add a variable to keep track of this interval in `Plot` initialization

[2022-04-16 10:37] rankinstudio commented on #39
I can take a look at it.

[2022-04-16 10:44] rankinstudio opened #41 "sta/lta timing alarm"
It seems, after messing with this for a while, that setting an alarm only on the threshold value being hit isn't the best approach. When there is a short lived disturbance the threshold can be very briefly hit and drop back down quickly, still sending an alert out. Earthquakes just distant / weak enough to not set the alarm off will still make the sta/lta ratio climb for a longer period of time. I

[2022-04-25 11:08] tobidurr opened #42 "rs-test fails, Import-Error"
I installed rsudp on two separate machines, one running Win10, one Win11. As far as I can see the installation works successfully. When I try to run rs-test in the rsudp environment I get the following error message (shortened) on both machines.
[code]

I am not sure if this is an issue with rsudp but googling the error code did not help. I am therefore not able to run rsudp currently.

[2022-04-27 23:19] sbcaron commented on #36
Hi @iannesbitt,
I second this request :). I think I mentioned adding this feature in the RShake discussion board some time ago. I also do not see a need to filter the spectro. That seems to work just fine for me unfiltered. The real need is to filter out the noise to view the smaller and distant quakes.

Thanks,
Steve Caron
RD29A Chino Hills.

[2022-05-12 07:40] rodonile opened #43 "Installation error (fedora 36)"
[code]

I'm getting this "core dumped" error when running the unix-install-rsudp.sh script on Fedora. Anyone knows what could be the problem?

[2022-05-13 10:20] rodonile commented on #43
Solved by manually installing miniconda's latest version before running the script.

[2022-05-13 10:20] #43 closed

[2022-06-16 14:28] iannesbitt commented on #37
Just a note about matplotlib in the install script:

I have removed the installation of matplotlib from the `conda install` commands in the script and leave it to be installed via pip now.

It seems like occasionally MPL does not get built for all architectures in the conda-forge channel, and the rpi channel's matplotlib has not been built for several years' worth of versions. This was causing iss

[2022-06-16 14:28] #37 closed

[2022-06-16 14:29] iannesbitt commented on #38
This should be solved now, but feel free to reopen if it is not.

[2022-06-16 14:29] #38 closed

[2022-06-21 11:58] rodonile commented on #42
I'm also having this same issue.

[2022-07-15 19:11] alihanks commented on #19
I'm having the same issue. When trying to perform a new installation of rsudp, it states that the rsudb_settings.json file is not found. I don't see an example .json file anywhere in the installation tutorial anymore, either.

[2022-08-09 09:04] hadigh opened #44 "Installing on Ubuntu18.04"
Hi

I am trying to install rsudp on a Linux machine (18.04.1-Ubuntu) by running "bash unix-install-rsudp.sh"; I am getting the below error and was wondering if you can help to solve the issue! my Conda version is: conda 4.13.0

[code]

[2022-10-03 23:01] kylebrill commented on #19
I can confirm that when installing using directions in [2.2.2](https://raspishake.github.io/rsudp/installing.html#advanced-users) under the Windows install instructions, that navigating to my Miniconda environment directory: `%USERPROFILE%\Miniconda3\envs\rsudp\`, going into the `Scripts` directory, and running `rs-client.exe -i` did create the **rsubd_settings.json** file in my `%USERPROFILE%\.co

[2022-10-04 21:50] iannesbitt commented on #19
Hi @kylebrill, I've corrected the link endpoint for [Download](https://github.com/raspishake/rsudp/archive/refs/heads/master.zip). Sorry, this was broken by a github code change that I did not pick up on. I added manual instructions in case it breaks again.

I don't do the development for the Windows scripts, so I will have to look into why this is happening and let our Windows guy know. Thanks fo

[2022-10-04 23:01] iannesbitt commented on #41
Hi David, great point here. The reason I originally built it this way was because I wanted our classroom demonstrations to be able to trigger the alarm just by stomping, but I totally agree with you. The fix I am envisioning would have some sort of "duration" setting which when turned above zero would require a certain number of seconds to elapse over the threshold to trip the alarm.

[2022-10-04 23:01] iannesbitt commented on #41
The things that would have to change are

- [ ] add a `"duration"` setting to the `alert` dictionary in the `.json` file. (should be a float with a default of 0.0 so classrooms don't have to reconfigure)
- [ ] add `"duration"` to `client.py` intake section
- [ ] add `"duration"` to `client.py` thread initialization section
- [ ] add `duration` as a parameter to rsudp.c_alert.Alert.__init__()
- [ ]

[2022-10-04 23:29] iannesbitt commented on #42
@tobidurr @rodonile @Jos3111 Thank you for the reports.

This indeed appears to be an upstream issue with an obspy dependency. How did you install obspy and what version are you using? Also, what version of Windows?
If you don't want to use the workaround of commenting out the obspy dependencies, consider [opening an issue with obspy](https://github.com/obspy/obspy/issues/new/choose). It looks lik

[2022-10-04 23:45] iannesbitt commented on #44
Hi @hadigh, thanks for the report. Can you post the entire command output? It looks like you're just posting the last hundred lines or so. You may have to expand the number of lines your terminal remembers in order to get to the first few.

Operating on limited information, my guess is either that your anaconda installation is outdated and needs to be reinstalled, or that you have an existing `rsu

[2022-11-01 15:56] navneetercse commented on #44
Seeing the error messages, there is a very high chance of an existing rsudp environment under an already installed conda.

Also, can we provide an option for overwriting of existing rsudp environment during installation (via a prompt)?

[2022-11-01 16:27] iannesbitt commented on #44
Sure, that shouldn't be too difficult. Most of the time it will just be in `~/<conda directory>/envs/rsudp`, and just needs to be `rm -rf`'d before reinstallation. I will go ahead and take a look at adding this.

[2022-11-17 15:32] iannesbitt opened #46 "When station changes locations, rsudp uses first location in inventory for region lookup"
Example:
[code]
rsudp region: MAINE

Solution: change `get_inventory()` to look for the last `[-1]` station location (instead of `[0]`) in the inventory to draw coordinates from.
Code location: https://github.com/raspishake/rsudp/blob/master/rsudp/raspberryshake.py#L519

[2022-11-17 17:16] #46 closed

[2022-11-17 17:19] iannesbitt commented on #46
Tested and working

[2022-11-23 16:07] iannesbitt commented on #44
Should be resolved in #45.

[2022-11-23 16:07] #44 closed